/* styles.module.css */
.customText {
    padding-top: 10%;
    padding-left: 15%;
    padding-bottom: 10px;
    font-size: 16px;
  }

.customBox {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 1px 1px 1px grey;
     }

.CompletionRateText {
    padding-left: 40px;
    padding-top:40px;
    color: #FFFFFF;
    font-size: 24px;
}

.dateText {
  color: #8590B3;
  font-size: 12px;
  padding-left: 40px;
  font-weight: 600;
}

.viewsOverviewToday{
  color: #334681;
  font-size: 12px; 
  padding-left: 40px;
  padding-top: 40px;
}

.viewsOverviewStat {
  font-size: #387DFF;
  padding-left: 40px;
  font-size: 26px;

}

.simulationResultsText {
  color: #334681;
  font-size: 12px;
  font-weight: 500;
}


.statsBox {
  border-radius: 5%;
  height:"98%";
  background: #FFFFFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}